.select2-results__option {
    background: #fff;
    color: #818181;
    font-size: 15px
}

#firwlBody.woocommerce #firwlMaster #respond input#submit,
#firwlBody.woocommerce #firwlMaster .woocommerce #respond input#submit,
#firwlBody.woocommerce #firwlMaster .woocommerce a.button,
#firwlBody.woocommerce #firwlMaster .woocommerce button.button,
#firwlBody.woocommerce #firwlMaster .woocommerce input.button {
    border-radius: 0;
    font-size: 13px !important
}

#firwlBody.woocommerce #firwlMaster .woocommerce-button.button.woocommerce-form-login__submit {
    float: none;
    display: block
}

#firwlBody.woocommerce #firwlMaster .firwl-woocommerce-content #respond input#submit,
#firwlBody.woocommerce #firwlMaster .firwl-woocommerce-content a.button,
#firwlBody.woocommerce #firwlMaster .firwl-woocommerce-content button.button,
#firwlBody.woocommerce #firwlMaster .firwl-woocommerce-content input.button,
#firwlBody.woocommerce #firwlMaster .asfasdfasdfgadfgadfgadfgadfgdafgdafgadfgafgd {
    padding: 0 17px
}

#firwlBody.woocommerce #firwlMaster .button {
    background: none;
    padding: 0 17px;
    text-transform: uppercase;
    height: 34px;
    line-height: 32px;
    text-align: center;
    min-width: 34px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid;
    color: inherit;
    font-size: 12px;
    cursor: pointer;
    text-rendering: geometricPrecision;
    background-size: 0% 104%;
    background-repeat: no-repeat;
    background-position: -2px 101%;
    transition: all 0.3s cubic-bezier(0.16, 0.68, 0.49, 0.99) !important;
    background-image: linear-gradient(to right, rgba(169, 196, 211, 0.3) 100%, #fff 100%);
    background: transparent;
    position: relative;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
    color: #fff
}

#firwlBody.woocommerce #firwlMaster .button::after {
    content: " ";
    display: block;
    height: calc(100% - 7px);
    position: absolute;
    width: 8px;
    border: 1px solid;
    top: auto;
    bottom: 0;
    right: 0px;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-left: 0;
    border-top: 0;
    border-radius: 2px
}

#firwlBody.woocommerce #firwlMaster .button::before {
    content: " ";
    display: block;
    width: calc(100% - 2px);
    position: absolute;
    width: calc(100% - 7px);
    border-top: 1px solid;
    top: auto;
    bottom: 0;
    left: -1px;
    min-width: 27px;
    border-radius: 2px
}

#firwlBody.woocommerce #firwlMaster .button i {
    line-height: 34px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    margin: -1px 0 0 0;
    font-size: 1.5em;
    display: inline-flex;
    display: -webkit-inline-flex;
    vertical-align: bottom
}

#firwlBody.woocommerce #firwlMaster .button.alt {
    border: none;
    line-height: 34px;
    overflow: hidden;
    color: #fff;
    position: relative;
    z-index: 2
}

#firwlBody.woocommerce #firwlMaster .button.alt::before,
#firwlBody.woocommerce #firwlMaster .button.alt::after {
    border: none;
    border-radius: 2px
}

#firwlBody.woocommerce #firwlMaster .button.alt::after {
    content: " ";
    display: block;
    height: 100%;
    width: 180%;
    position: absolute;
    background: rgba(150, 150, 150, 0.2);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    top: 0;
    left: auto;
    right: -26px;
    z-index: -1
}

#firwlBody.woocommerce #firwlMaster .button[disabled] {
    opacity: .4
}

#firwlBody.woocommerce #firwlMaster .button::before,
#firwlBody.woocommerce #firwlMaster .button::after {
    border: none
}

#firwlBody.woocommerce #firwlMaster input[type="submit"],
#firwlBody.woocommerce #firwlMaster a.button {
    border: none;
    border-radius: 1px;
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%, 0 0, 0% 0%);
    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%, 0 0, 0% 0%)
}

#firwlBody.woocommerce #firwlMaster ul.products,
#firwlBody.woocommerce #firwlMaster ul.products {
    margin: 0
}

#firwlBody.woocommerce #firwlMaster ul.products li.product,
#firwlBody.woocommerce #firwlMaster ul.products li.product {
    margin: 0 15px 40px 15px;
    width: calc(100% - 30px)
}

#firwlBody.woocommerce #firwlMaster ul.products li.product.last,
#firwlBody.woocommerce #firwlMaster ul.products li.product.first,
#firwlBody.woocommerce #firwlMaster ul.products li.product.last,
#firwlBody.woocommerce #firwlMaster ul.products li.product.first {
    margin-right: 15px;
    margin-left: 15px
}

#firwlBody.woocommerce #firwlMaster ul.products li.product .firwl-sale-flash,
#firwlBody.woocommerce #firwlMaster ul.products li.product .firwl-sale-flash {
    background: #ffd800;
    color: #000;
    padding: 8px 12px 7px 7px;
    top: 0;
    position: absolute;
    left: 3px;
    width: auto;
    font-size: 10px;
    border-radius: 0;
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 6px), calc(100% - 6px) 100%, 0% 100%, 0 0, 0% 0%);
    clip-path: polygon(100% 0, 100% calc(100% - 6px), calc(100% - 6px) 100%, 0% 100%, 0 0, 0% 0%)
}

#firwlBody.woocommerce #firwlMaster ul.products li.product .firwl-sale-flash i,
#firwlBody.woocommerce #firwlMaster ul.products li.product .firwl-sale-flash i {
    opacity: 1
}

#firwlBody.woocommerce #firwlMaster ul.products li.product .star-rating span::before,
#firwlBody.woocommerce #firwlMaster ul.products li.product .star-rating span::before {
    color: #ffd800
}

#firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product,
#firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product {
    width: calc(33.2% - 30px)
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product {
    list-style: none
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product a {
    color: inherit
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .wc-forward {
    display: none;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    bottom: 25%;
    position: absolute;
    width: 100%
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product__rating {
    width: 44%;
    display: inline-block;
    float: right;
    padding: 0;
    font-size: 13px
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product__rating .star-rating {
    float: right;
    line-height: 1em
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product__lk {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-post__header .firwl-itemmetas {
    line-height: 1em;
    text-align: left;
    float: left;
    margin-left: -5px
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-post__header .firwl-itemmetas i {
    margin-left: 0
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-post__headercont {
    z-index: 2;
    display: block;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 6px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.02) 28%, rgba(0, 0, 0, 0.02) 100%, rgba(0, 0, 0, 0) 100%)
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-actions__cont {
    display: block;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-actions__cont:hover {
    top: 0;
    opacity: 1
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-actions {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-p-catz {
    float: left
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-p-catz a {
    color: #fff;
    z-index: 2;
    position: relative
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-a0 {
    top: 50%;
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 3
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-a0 i::before {
    content: '\e854'
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .firwl-a0.added i::before {
    content: '\e5ca'
}

#firwlBody.woocommerce #firwlMaster .firwl-post__product .price {
    float: left;
    display: inline-block;
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single {
    position: relative
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-itemmetas>span {
    display: block
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-itemmetas>span>span {
    opacity: .6
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .product_title.entry-title {
    font-size: 23px
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .product_meta {
    border: 1px solid rgba(150, 150, 150, 0.15);
    border-width: 1px 0 1px 0;
    padding: .7rem 0
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .posted_in {
    margin-bottom: .5em
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-price {
    margin-bottom: 32px;
    font-size: 23px
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-price del {
    opacity: .6;
    font-size: .6em;
    margin: 0 14px
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-price ins {
    float: left;
    text-decoration: none
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single div.quantity {
    width: 90px
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-rating .star-rating {
    margin-top: .4em
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single .firwl-review-form-title {
    margin-top: 30px;
    margin-bottom: 0
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single>.firwl-sale-flash {
    color: #333;
    position: absolute;
    left: 0;
    z-index: 10000;
    font-size: .8em;
    padding: .2em;
    background-color: white
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single>.firwl-sale-flash::after {
    display: block;
    top: 0;
    left: 1px;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: white;
    -webkit-transform: skewX(-45deg) translateX(1.2em);
    transform: skewX(-45deg) translateX(1.2em)
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single>.firwl-sale-flash i {
    font-size: 1.4em
}

#firwlBody.woocommerce #firwlMaster .firwl-product-single form.cart table {
    line-height: 2em
}

#firwlBody.woocommerce #firwlMaster #reviews.woocommerce-Reviews ol.commentlist {
    margin: 1.7rem auto 2.4rem auto
}

#firwlBody.woocommerce #firwlMaster #reviews.woocommerce-Reviews ol.commentlist li {
    list-style: none
}

#firwlBody.woocommerce #firwlMaster #reviews.woocommerce-Reviews ol.commentlist li img.avatar {
    width: 40px;
    height: 40px
}

#firwlBody.woocommerce #firwlMaster #reviews.woocommerce-Reviews ol.commentlist li .comment-text {
    border-width: 1px 0 0 0;
    border-radius: 0;
    padding-left: 0;
    margin-left: 56px
}

#firwlBody.woocommerce #firwlMaster #reviews.woocommerce-Reviews ol.commentlist li .comment-text .meta {
    font-size: 12px;
    text-transform: uppercase
}

#firwlBody.woocommerce #firwlMaster section.related.products {
    margin-top: 8%
}

#firwlBody.woocommerce #firwlMaster section.related.products .firwl-caption {
    margin-bottom: 30px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-product-gallery ol li {
    padding: 0;
    width: 20%
}

#firwlBody.woocommerce #firwlMaster .woocommerce-product-gallery ol li:nth-child(4n+1) {
    clear: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce-product-gallery ol li:nth-child(5n+1) {
    clear: left
}

#firwlBody.woocommerce #firwlMaster .woocommerce-product-gallery__trigger {
    top: 0;
    right: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs {
    padding-top: 6%
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs {
    margin-bottom: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs li {
    border-radius: 0;
    padding-left: 0;
    padding: 0;
    opacity: .5;
    margin: 0 -3px;
    font-size: 15px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs li:last-child {
    border-left: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs li a {
    padding: 8px 14px 6px 14px;
    color: inherit
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs li::before,
#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs li::after {
    display: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs ul.tabs.wc-tabs li.active {
    opacity: 1
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel {
    padding: 5%;
    border: 1px solid #ddd;
    border-top: 0;
    font-size: 0.87rem
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel h2 {
    font-size: 1.8em
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel h3 {
    font-size: 1.5em
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel h4 {
    font-size: 1.3em
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel h5 {
    font-size: 1em
}

#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel>h2:first-child,
#firwlBody.woocommerce #firwlMaster .woocommerce-tabs .panel .woocommerce-Reviews>div>h2 {
    margin-top: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-product-attributes {
    margin-bottom: 0
}

#firwlBody.woocommerce #firwlMaster table.shop_table {
    border: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce-cart-form table.shop_table {
    border: none;
    border-width: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-cart-form table.shop_table .actions input[type="text"] {
    width: auto;
    margin-right: 20px;
    margin-bottom: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-cart-form table.shop_table .actions input[type="text"]+label {
    float: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce-cart-form table.shop_table .actions label {
    display: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce-cart-form table.shop_table .product-quantity {
    width: 90px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-cart-form table.shop_table .product-quantity input {
    margin-top: 15px;
    display: inline-block;
    width: auto;
    min-width: 90px;
    max-width: 90px;
    padding-left: 20px
}

#firwlBody.woocommerce #firwlMaster ul#shipping_method li {
    margin: 0;
    padding: 0
}

#firwlBody.woocommerce #firwlMaster .shop_table {
    border-radius: 0
}

#firwlBody.woocommerce #firwlMaster .shipping-calculator-form p input {
    margin-bottom: 0
}

#firwlBody.woocommerce #firwlMaster table tr th,
#firwlBody.woocommerce #firwlMaster table tr td {
    border-top-width: 0
}

#firwlBody.woocommerce #firwlMaster #add_payment_method #payment ul.payment_methods li,
#firwlBody.woocommerce #firwlMaster #payment ul.payment_methods li,
#firwlBody.woocommerce #firwlMaster #payment ul.payment_methods li {
    list-style: none;
    line-height: 1em
}

#firwlBody.woocommerce #firwlMaster #add_payment_method #payment ul.payment_methods li label,
#firwlBody.woocommerce #firwlMaster #payment ul.payment_methods li label,
#firwlBody.woocommerce #firwlMaster #payment ul.payment_methods li label {
    float: left
}

#firwlBody.woocommerce #firwlMaster #add_payment_method #payment ul.payment_methods li label img,
#firwlBody.woocommerce #firwlMaster #payment ul.payment_methods li label img,
#firwlBody.woocommerce #firwlMaster #payment ul.payment_methods li label img {
    max-height: 20px
}

#firwlBody.woocommerce #firwlMaster #add_payment_method #payment,
#firwlBody.woocommerce #firwlMaster .woocommerce-cart #payment,
#firwlBody.woocommerce #firwlMaster .woocommerce-checkout #payment {
    padding: 3%;
    border-radius: 0
}

#firwlBody.woocommerce #firwlMaster #add_payment_method #payment .payment_method_paypal .about_paypal,
#firwlBody.woocommerce #firwlMaster .woocommerce-cart #payment .payment_method_paypal .about_paypal,
#firwlBody.woocommerce #firwlMaster .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    line-height: inherit;
    padding: 0 10px
}

#firwlBody.woocommerce #firwlMaster #add_payment_method #payment div.payment_box,
#firwlBody.woocommerce #firwlMaster .woocommerce-cart #payment div.payment_box,
#firwlBody.woocommerce #firwlMaster .woocommerce-checkout #payment div.payment_box {
    margin-top: 33px;
    margin-bottom: 3px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content .woocommerce-column__title,
#firwlBody.woocommerce #firwlMaster .woocommerce-customer-details .woocommerce-column__title {
    font-size: 22px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content address,
#firwlBody.woocommerce #firwlMaster .woocommerce-customer-details address {
    margin: 20px 0 0 0;
    padding: 5%;
    border-radius: 0;
    line-height: 2.4em;
    font-size: 13px;
    font-style: initial;
    border-color: inherit;
    border: 1px solid
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content address p,
#firwlBody.woocommerce #firwlMaster .woocommerce-customer-details address p {
    margin-top: 10px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-navigation {
    padding-right: 16px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-navigation ul {
    background: rgba(100, 100, 100, 0.04);
    padding: 5%;
    margin-left: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1)
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-navigation ul li:last-child {
    border: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content h3 {
    font-size: 18px;
    margin-top: 0
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content .addresses .title .edit {
    font-size: 13px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset {
    margin-bottom: 30px;
    padding: 4% 5%;
    border-color: rgba(100, 100, 100, 0.1)
}

#firwlBody.woocommerce #firwlMaster .woocommerce-MyAccount-content legend {
    font-size: 12px;
    padding: 0 10px;
    text-transform: uppercase
}

#firwlBody.woocommerce #firwlMaster .woocommerce-form-login {
    border-color: rgba(100, 100, 100, 0.1);
    border-radius: 0;
    padding: 4% 5%
}

#firwlBody.woocommerce #firwlMaster .woocommerce-form-login input[type="checkbox"],
#firwlBody.woocommerce #firwlMaster .woocommerce-form-login input[type="radio"] {
    float: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce form {
    margin-top: 1rem
}

#firwlBody.woocommerce #firwlMaster .woocommerce form p::after {
    content: "";
    width: 100%;
    clear: none
}

#firwlBody.woocommerce #firwlMaster .woocommerce form .firwl-fieldset {
    display: block;
    clear: both;
    position: relative
}

#firwlBody.woocommerce #firwlMaster .woocommerce form label {
    opacity: .8;
    transition: all .3s;
    font-size: 12px
}

#firwlBody.woocommerce #firwlMaster .woocommerce form ::-webkit-input-placeholder {
    opacity: .73
}

#firwlBody.woocommerce #firwlMaster .woocommerce form input:focus::-webkit-input-placeholder,
#firwlBody.woocommerce #firwlMaster .woocommerce form textarea:focus::-webkit-input-placeholder {
    color: transparent
}

#firwlBody.woocommerce #firwlMaster .woocommerce form .select2 {
    margin-bottom: 16px;
    border-radius: 0;
    line-height: 34px;
    min-height: 36px
}

#firwlBody.woocommerce #firwlMaster .woocommerce form .select2-container--default .select2-selection--single {
    border-width: 1px;
    border-radius: 0;
    height: 40px;
    font-size: 15px;
    padding-left: 6px;
    border: 1px solid rgba(150, 150, 150, 0.4)
}

#firwlBody.woocommerce #firwlMaster .woocommerce form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    font-size: 15px;
    color: #808080
}

#firwlBody.woocommerce #firwlMaster .woocommerce form .select2-container--default .select2-selection--single .select2-selection__arrow {
    line-height: 40px;
    height: 40px;
    right: 7px
}

#firwlBody.woocommerce #firwlMaster .woocommerce form .woocommerce-input-wrapper input[type="text"],
#firwlBody.woocommerce #firwlMaster .woocommerce form .woocommerce-input-wrapper input[type="email"],
#firwlBody.woocommerce #firwlMaster .woocommerce form .woocommerce-input-wrapper input[type="tel"],
#firwlBody.woocommerce #firwlMaster .woocommerce form .woocommerce-input-wrapper input[type="password"],
#firwlBody.woocommerce #firwlMaster .woocommerce form .woocommerce-input-wrapper input[type="number"] {
    padding-left: 15px
}

#firwlBody.woocommerce #firwlMaster .woocommerce form input[type="submit"],
#firwlBody.woocommerce #firwlMaster .woocommerce form input[type="submit"]#submit {
    min-height: 32px;
    line-height: 32px;
    padding: 4px 16px;
    min-width: 150px;
    font-size: 15px !important
}

#firwlBody.woocommerce #firwlMaster .woocommerce form label {
    margin-bottom: 8px;
    display: inline-block
}

#firwlBody.woocommerce #firwlMaster .woocommerce form textarea {
    height: 80px;
    max-width: 98%
}

#firwlBody.woocommerce #firwlMaster .woocommerce form__inline {
    overflow: hidden
}

#firwlBody.woocommerce #firwlMaster p.price,
#firwlBody.woocommerce #firwlMaster .woocommerce div.product span.price,
#firwlBody.woocommerce #firwlMaster div.product .stock,
#firwlBody.woocommerce #firwlMaster span.onsale,
#firwlBody.woocommerce #firwlMaster ul.products li.product .price,
#firwlBody.woocommerce #firwlMaster #add_payment_method .cart-collaterals .cart_totals .discount td,
#firwlBody.woocommerce #firwlMaster .cart-collaterals .cart_totals .discount td,
#firwlBody.woocommerce #firwlMaster .woocommerce-checkout .cart-collaterals .cart_totals .discount td {
    color: inherit
}

#firwlBody.woocommerce #firwlMaster ul.products,
#firwlBody.woocommerce #firwlMaster ul.products {
    margin: 0 -15px
}

#firwlBody.woocommerce #firwlMaster ul.products li.product,
#firwlBody.woocommerce #firwlMaster ul.products li.product {
    margin: 0 15px 40px 15px;
    width: calc(100% - 30px)
}

#firwlBody.woocommerce #firwlMaster ul.products li.product .firwl-meta,
#firwlBody.woocommerce #firwlMaster ul.products li.product .firwl-meta {
    overflow: hidden
}

#firwlBody.woocommerce #firwlMaster ul.products li.product.firwl-post .firwl-meta,
#firwlBody.woocommerce #firwlMaster ul.products li.product.firwl-post .firwl-meta {
    overflow: hidden
}

#firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product,
#firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product {
    width: calc(100% - 30px)
}

@media only screen and (min-width: 768px) {
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products[class*=columns-] li.product {
        clear: none
    }
    #firwlBody.woocommerce #firwlMaster ul.products,
    #firwlBody.woocommerce #firwlMaster ul.products {
        margin: 0 -15px
    }
    #firwlBody.woocommerce #firwlMaster ul.products li.product,
    #firwlBody.woocommerce #firwlMaster ul.products li.product {
        margin: 0 15px 40px 15px;
        width: calc(50% - 30px);
        float: left;
        clear: none
    }
    #firwlBody.woocommerce #firwlMaster ul.products li.product.last,
    #firwlBody.woocommerce #firwlMaster ul.products li.product.first,
    #firwlBody.woocommerce #firwlMaster ul.products li.product.last,
    #firwlBody.woocommerce #firwlMaster ul.products li.product.first {
        margin-right: 15px;
        margin-left: 15px
    }
    #firwlBody.woocommerce #firwlMaster ul.products li.product:nth-child(4n+1),
    #firwlBody.woocommerce #firwlMaster ul.products li.product:nth-child(4n+1) {
        clear: left
    }
    #firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product,
    #firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product {
        width: calc(50% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product:nth-child(3n+1),
    #firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product:nth-child(3n+1) {
        clear: left
    }
}

@media only screen and (min-width: 960px) {
    #firwlBody.woocommerce #firwlMaster ul.products li.product,
    #firwlBody.woocommerce #firwlMaster ul.products li.product {
        margin: 0 15px 40px 15px;
        width: calc(25% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster ul.products li.product.last,
    #firwlBody.woocommerce #firwlMaster ul.products li.product.first,
    #firwlBody.woocommerce #firwlMaster ul.products li.product.last,
    #firwlBody.woocommerce #firwlMaster ul.products li.product.first {
        margin-right: 15px;
        margin-left: 15px
    }
    #firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product,
    #firwlBody.woocommerce #firwlMaster ul.products.columns-3 li.product {
        width: calc(33.2% - 30px)
    }
}

#firwlBody.woocommerce #firwlMaster .form-row.place-order {
    padding-top: 30px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-privacy-policy-text {
    margin-bottom: 30px
}

#firwlBody.woocommerce #firwlMaster .woocommerce-error {
    margin-left: 0
}

@media only screen and (min-width: 1201px) {
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-1 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-1 li.product {
        width: calc( 100% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-2 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-2 li.product {
        width: calc( 50% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-3 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-3 li.product {
        width: calc( 33.3333333333% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-4 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-4 li.product {
        width: calc( 25% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-5 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-5 li.product {
        width: calc( 20% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-6 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-6 li.product {
        width: calc( 16.6666666667% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-7 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-7 li.product {
        width: calc( 14.2857142857% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-8 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-8 li.product {
        width: calc( 12.5% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-9 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-9 li.product {
        width: calc( 11.1111111111% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-10 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-10 li.product {
        width: calc( 10% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-11 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-11 li.product {
        width: calc( 9.0909090909% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .woocommerce ul.products.columns-12 li.product,
    #firwlBody.woocommerce #firwlMaster.woocommerce-page ul.products.columns-12 li.product {
        width: calc( 8.3333333333% - 30px)
    }
    #firwlBody.woocommerce #firwlMaster .firwl-product-single .product_title.entry-title {
        font-size: 30px
    }
    #firwlBody.woocommerce #firwlMaster .firwl-sidebar__shop {
        font-size: 15px
    }
    #firwlBody.woocommerce #firwlMaster .firwl-sidebar__shop.firwl-sidebar__left-sidebar {
        padding-right: 40px
    }
    #firwlBody.woocommerce #firwlMaster .firwl-sidebar__shop.firwl-sidebar__right-sidebar {
        padding-left: 40px
    }
}

/*# sourceMappingURL=woocommerce.css.map */